// override BS5 variables and custom variables mixins

$theme-colors: map-merge($theme-colors, (
    'primary': #009cab,
    'danger': #f04c25,
));
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");
