@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

$fontStyle: 'Oswald';
$fontSize: 21px;
$fontSize_title: 30px;
$fontSize_description: 24px;
$fontSize_services: 20px;
$fontSize_recensie: 40px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #BABEBF;
  font-family: $fontStyle, sans-serif;
  font-size: $fontSize;
}

h5 {
  font-size: $fontSize_description;
}

div.container-fluid {
  text-align: center;
  padding: 0;
  background-color: white;
}

div.container-fluid nav {
  background-color: #D2D7D9;
}

div.container-fluid .gray_background {
  background-color: #D2D7D9;
}

div.container-fluid img{
  margin: 0;
  padding: 0;
}

div#background_image_index {
  background-image: url("../assets/Indexpagina_badkamer_background_klein.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding: 0;
}

#navbar {
  background-color: #D2D7D9;
  height: 100px;
  padding: 0;
}

div#navbar img {
  margin-left: 10px;
  margin-top: 2px;
}

div#title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
  margin-top: 10px;
}

div#onze_diensten {
  background-color: white;
  margin-top: 20px;
}

#navbarNavSmall {
  margin-bottom: 0rem;
}

#navbarNavSmall li {
  list-style: none;
  height: 100px;
  display: flex;
  line-height: 100px;
  flex-grow: 1;
  width: 75%;
  border-radius: 0;
}

#navbarNavSmall li a {
  text-decoration: none;
  color: white;
  flex: 1 1 auto;
  font-weight: normal;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}

#navbarNavSmall li a.active{
  color: white;
}

#navbarNavSmall li:hover a {
  background-color: #A62121;
  color: white;
  border-radius: 0;
}

#navbarNavSmall li:hover a.active {
  color: white;
}

.gray_background {
  background-color: #D2D7D9;
}

.title {
  color: #A61F1F;
  font-weight: bold;
  font-size: $fontSize_title;
}

.description {
  font-size: $fontSize_description;
}

.navbar-brand {
  padding: 0;
}

.recensie_tekst {
  font-size: $fontSize_recensie;
  color: rgba(0,0,0,0.50);
}

.recensie_ster {
  font-size: $fontSize_recensie;
  color: #801919;
}

#navbarNavSmall {
  align-items: center;
  background-color: red;
  margin-top: 5px;
}

#navbarNavSmall ul li {
  flex-grow: 1;
}

#afspraak_button_div {
  height: 781px;
  line-height: 700px;
}

#phone_view_div {
  align-items: center;
}

#phone_view_div img {
  width: 50%;
  height: auto;
}

#services {
  text-align: start;
  font-size: $fontSize_services;
}

#services i {
  color: #A62121;
}

#services div p {

}

#recensie {
  font-size: $fontSize_description;
}

.afspraak_button, .afspraak_button:active {
  background-color: #A62121;
  color: #F2F2F2;
  border-color: #801919;
  font-size: 30px;
}

.afspraak_button_card, .afspraak_button_card:active {
  background-color: #A62121;
  color: #F2F2F2;
  border-color: #801919;
  font-size: 20px;
  width: 100%;
}

.afspraak_button:hover, .afspraak_button:focus {
  background-color: #801919;
  border-color: #801919;
  color: #F2F2F2;
  box-shadow: 0px 0px 0px black;
}

.afspraak_button_card:hover, .afspraak_button_card:focus {
  background-color: #801919;
  border-color: #801919;
  color: #F2F2F2;
  box-shadow: 0px 0px 0px black;
}

.card {
  padding: 0;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  flex-grow: 1;
}






@media screen and (min-width:992px){

  nav div {
    background-color: #D2D7D9;
  }

  #navbarNavSmall {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    margin-bottom: 0rem;
    background-color: #D2D7D9;
    margin-top: 0px;
  }

  #navbarNavSmall li {
    list-style: none;
    height: 100px;
    width: 100px;
    display: flex;
    line-height: 100px;
    flex-grow: 0;
  }

  #navbarNavSmall li a {
    padding: 0;
    text-decoration: none;
    color: #3B3C40;
    flex: 1 1 auto;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
  }

  #navbarNavSmall li a.active{
    color: #A61F1F;
  }

  #navbarNavSmall li:hover a {
    background-color: #BABEBF;
    color: inherit;
    border-radius: 25%;
  }

  #navbarNavSmall  li:hover a.active {
    color: #A61F1F;
  }

  .navbar {
    background-color: #D2D7D9;
    height: 100px;
    padding: 0;
  }
}
