@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$fontStyle: 'Oswald';
$fontSize: 21px;
$fontSize_title: 30px;
$fontSize_description: 24px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #BABEBF;
  font-family: $fontStyle, sans-serif;
  font-size: $fontSize;
}

h5 {
  font-size: $fontSize_description;
}

div.container {
  background-color: white;
  text-align: center;
  padding: 0;
}

div.container img{
  margin: 0;
  padding: 0;
}

div#background_image_index {
  background-image: url("../assets/Indexpagina_badkamer_background_klein.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 0;
}

#navbar {
  display: flex;
  text-align: center;
  background-color: #D2D7D9;
  height: 100px;
  padding: 0;
}

div#navbar img {
  margin-left: 10px;
  margin-top: 2px;
}

div#navbar div#title {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 20px;
  margin-top: 10px;
}

div#onze_diensten {
  background-color: white;
  margin-top: 20px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
  margin-bottom: 0rem;
}

nav ul li {
  list-style: none;
  height: 100px;
  width: 100px;
  display: flex;
  line-height: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #3B3C40;
  flex: 1 1 auto;
  font-weight: bold;
  transition-timing-function: ease-in-out;
  transition-duration: 0.25s;
}

nav ul li a.active{
  color: #A61F1F;
}

nav ul li:hover a {
  background-color: #BABEBF;
  color: inherit;
  border-radius: 25%;
}

nav ul li:hover a.active {
  color: #A61F1F;
}

.title {
  color: #A61F1F;
  font-weight: bold;
  font-size: $fontSize_title;
}

.description {
  font-size: $fontSize_description;
}

.navbar-brand {
  padding: 0;
}

#navbarNavSmall {
  align-items: center;
  background-color: red;
}

#navbarNavSmall ul li {
  flex-grow: 1;
}

#afspraak_button_div {
  height: 781px;
  line-height: 700px;
}

.afspraak_button {
  background-color: #A62121;
  color: #F2F2F2;
  border-color: #801919;
  font-size: 30px;
}

.afspraak_button_card {
  background-color: #A62121;
  color: #F2F2F2;
  border-color: #801919;
  font-size: 20px;
  width: 100%;
}

.afspraak_button:hover {
  background-color: #801919;
  border-color: #801919;
  color: #F2F2F2;
}

.afspraak_button_card:hover {
  background-color: #801919;
  border-color: #801919;
  color: #F2F2F2;
}

.card {
  padding: 0;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  flex-grow: 1;
}
